colorama
datasets
flexgen==0.1.7
gradio_client==0.2.5
gradio==3.31.0
markdown
numpy
pandas
Pillow>=9.5.0
pyyaml
requests
safetensors==0.3.1
sentencepiece
tqdm
scipy
transformers>=4.29.2
peft
accelerate
jupyter
openai
parsimonious
diskcache
pygtrie
einops
guidance==0.0.64

